#content
  padding-top: 15px

.mB20
  margin-bottom: 20px

.panel
  margin-bottom: 20px
  background: #fff
  padding: 15px 15px 1px 15px
  box-shadow: 0 2px 1px rgba($colorBlack,0.05)

  &.noPadding
    padding: 0

  h1
    display: inline-block
    margin-bottom: 27px

  h3
    font-size: 20px
    margin-bottom: 20px
    color: $colorTheme3

  thead th
    color: rgba($colorBlack, .5)
    color: $colorTheme3

  tbody td
    color: rgba($colorBlack, .9)

  .backlink
    opacity: .5
    vertical-align: -8px

  .form-horizontal [type=checkbox]
    vertical-align: -6px

  .btn-default.btn-xs
    opacity: .6

    &:hover
      opacity: 1

  .margin-right-20
    margin-right: 20px


.panel.list

  .item
    overflow: hidden
    padding-bottom: 15px
    margin-bottom: 15px
    border-bottom: 1px solid #f3f3f3

    &:last-child
      margin-bottom: 0
      border-bottom: none

  .main
    margin-bottom: 5px

  .sub
    font-size: 12px

  .delete
    float: right
    opacity: .3

    &:hover
      opacity: 1

.comment_content
  width: 85%
  margin-right: 4%

#new_comment
  padding-bottom: 15px

  input
    width: 100%

  [type=submit]
    width: 10%

.nestedFormFieldList
  background: #f3f3f3
  margin-top: 30px
  padding: 15px 0 0 0

  .form-group
    padding-right: 15px

  hr
    border-color: $colorWhite
    border-width: 3px

tr.past td
  color: #ababab

@media (min-width: $screen-sm-min)

  #content
    margin: $headerHeight 0 0 $navigationWidth