#content
  padding-top: 15px

  .green
    color: #078c5c

  .neutral
    color: $colorTheme2

  .red
    color: $colorTheme6

.btn

  i
    margin-right: 3px

.mB20
  margin-bottom: 20px

.panel
  margin-bottom: 20px
  background: #fff
  padding: 15px 15px 1px 15px
  box-shadow: 0 1px 0 rgba(0,0,0,.1)
  border-right: 1px solid #e6e9ee
  border-left: 1px solid #e6e9ee
  border-radius: 2px

  &.noPadding
    padding: 0

  h1
    display: inline-block
    margin-bottom: 27px

  h3
    font-size: 20px
    margin-bottom: 23px
    color: $colorTheme3

  input:focus
    box-shadow: 0 0 8px rgba(#8394a9, 0.6)

  tr:hover td
    background: #f7f9fb!important

  thead th
    color: rgba($colorBlack, .5)
    color: #8394a9
    font-size: 12px
    white-space: nowrap

  tbody td
    color: #8394a9

    strong, strong a
      color: #363c47

  .backlink
    opacity: .5
    vertical-align: -8px

  .form-horizontal [type=checkbox]
    vertical-align: -6px

  .btn-default.btn-xs
    opacity: .5

    &:hover
      opacity: 1

  .margin-right-20
    margin-right: 20px

  .pagination-detail
    margin: 20px 0

.panel.list

  .item
    overflow: hidden
    padding-bottom: 15px
    margin-bottom: 15px
    border-bottom: 1px solid #f3f3f3

    &:last-child
      margin-bottom: 0
      border-bottom: none

    &.bg-muted
      margin: -13px -13px 15px -13px
      padding: 15px
      background: tint($colorBlack, 95%)

  .main
    margin-bottom: 5px

  .sub
    font-size: 12px

  .delete
    float: right
    opacity: .3

    &:hover
      opacity: 1

  &.compact
    .item
      padding-bottom: 7px
      margin-bottom: 7px

.comment_content
  width: 85%
  margin-right: 4%

#new_comment
  padding-bottom: 15px

  input
    width: 100%

  [type=submit]
    width: 10%

.nestedFormFieldList
  background: #f3f3f3
  margin-top: 30px
  padding: 15px 0 0 0

  .form-group
    padding-right: 15px

  hr
    border-color: $colorWhite
    border-width: 3px

tr.active td
  background: shade(#f7f9fb, 3%)!important

.shift-time

  a
    color: #999
    font-weight: bold

    &:hover
      text-decoration: underline

@media (min-width: $screen-sm-min)

  #content
    margin: $headerHeight 0 0 $navigationWidth

  .sidebar-closed #content
    margin-left: 0
