#content
  padding-top: 15px

.mB20
  margin-bottom: 20px

.panel
  margin-bottom: 20px
  background: #fff
  padding: 15px 15px 1px 15px
  box-shadow: 0 2px 1px rgba($colorBlack,0.05)

  &.noPadding
    padding: 0

  h1
    display: inline-block
    margin-bottom: 27px

  thead th
    color: rgba($colorBlack, .5)
    color: $colorTheme3

  tbody td
    color: rgba($colorBlack, .9)

  .backlink
    opacity: .5
    vertical-align: -8px

  .form-horizontal [type=checkbox]
    vertical-align: -6px

  .btn-default.btn-xs
    opacity: .6

    &:hover
      opacity: 1

@media (min-width: $screen-sm-min)

  #content
    margin: $headerHeight 0 0 $navigationWidth