#dashboard

  .list-headline
    font-size: 17px
    color: $colorTheme4
    margin-bottom: 10px
    margin-top: 50px

  .item.first
    background: rgba($colorTheme2, .2)
    padding: 7px 0 0 7px

  .interaction-form
    padding: 20px 0

    .form-group
      margin-bottom: 0

  .shift-time
    display: none

  .panel.list table
    width: 100%

    td
      vertical-align: top
      padding: 0 5px 0 0

      &.actionCell
        width: 180px
        padding-top: 5px

        a
          margin-left: 10px
          font-size: 28px
          opacity: .3
