#header-container
  @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.1))
  line-height: $headerHeight

  ul
    list-style-type: none
    padding: 0
    margin: 0

  li
    line-height: 20px
    padding: 10px 10px
    border-bottom: 1px solid rgba($colorBlack, .1)

    a
      display: block

      &:hover
        color: $colorTheme2

#logo-container
  background: $colorBlack
  padding-left: 15px
  font-size: 20px
  line-height: $headerHeight

  a
    font-weight: 700
    color: $colorWhite

    &:hover
      text-decoration: none

#logo span
  font-weight: 400

#navigation-toggle
  cursor: pointer
  font-size: 19px
  margin-right: 15px

#header-content
  background: $colorWhite
  font-size: 13px

  .header-box
    position: relative
    border-left: 1px solid rgba($colorBlack, .1)
    padding: 0 15px
    float: left

    &:hover > .glyphicon
      opacity: 0.7

  .header-box-action
    cursor: pointer

  #user-container

    .user-avatar
      width: 30px
      height: 30px
      border-radius: 50%
      display: inline-block
      margin-right: 10px

.header-dropdown
  @include position(absolute, 100% -1px 0 0)
  min-width: 130px
  background: $colorWhite
  border: 1px solid rgba($colorBlack, .1)
  display: none
  z-index: 20

  li.active
    border-right: 3px solid $colorTheme2

.active .header-dropdown
  display: block

#user-container

  .glyphicon
    font-size: 10px
    margin-left: 7px

  .header-dropdown
    width: 100%

#notification-container

  .header-dropdown
    min-width: 200px

@media (min-width: $screen-sm-min)

  #header-container
    @include position(fixed, 0px 0px 0 0px)
    z-index: 30
    height: $headerHeight

  #logo-container
    width: $navigationWidth
    background: $colorWhite
    border-right: 1px solid rgba($colorBlack, .1)
    float: left

    a
      color: $colorTheme1

  #navigation-toggle
    display: none

  #header-content
    @include position(absolute, 0px 0px 0 $navigationWidth)
    z-index: 21
