#nav-container
  @include position(absolute, $headerHeight 0px 0 0px)
  background: $colorTheme1
  color: #fff
  display: none

  ul
    list-style-type: none
    padding: 0
    margin: 0
    font-size: 13px
    background: $colorTheme1

    a
      display: block
      padding: 15px 15px
      color: $colorGrayMid
      text-decoration: none

      &:hover
        text-decoration: none

      span
        width: 25px

  > ul

    > li

      > a:hover
        background: $colorBlack
        color: $colorWhite

      &.parent-active > a, > a.active
        background: $colorTheme2
        color: $colorWhite

      &.parent-active > ul
        background: lighten($colorTheme1, 8)

      &.parent > a:after
        font-family: "Glyphicons Halflings"
        content: "\e080"
        font-size: 8px
        float: right
        position: relative
        top: 4px

      &.parent-active ul, &.visible ul
        display: block

  > ul > li > ul
    display: none

    a
      padding: 10px 0 10px 43px

      &:hover, &.active
        color: $colorTheme2


.navigation-open #nav-container
  display: block



@media (min-width: $screen-sm-min)

  #nav-container
    @include position(fixed, 0px 0 0px 0px)
    display: block
    width: $navigationWidth
    padding-top: $headerHeight
