body
  background: #f3f3f3
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif
  font-weight: 400

body, html
  height: 100%

div
  @include box-sizing(border-box)

a
  text-decoration: none

  &:focus, &:active, &:hover
    outline: 0
    text-decoration: none

  &:hover
    color: $colorBlack

h1, h2, h3, h4, h5, h6
  margin-top: 0

h1
  color: $colorTheme1
  font-size: 23px

ul
  list-style-type: none
  margin: 0
  padding: 0

// Hide Firefox select border
select:-moz-focusring
  color: transparent
  text-shadow: 0 0 0 #000

.no-wrap
  white-space: nowrap

.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

  &.focusable

    &::active, &:focus
      clip: auto
      height: auto
      margin: 0
      overflow: visible
      position: static
      width: auto