$headerHeightDesktop: 50px
$navigationWidthDesktop: 220px

// kuler.adobe.com/Copy-of-Bizarre-color-theme-3856146

$colorBlack: #000000
$colorWhite: #ffffff
$colorTheme1: #3D3B42
$colorTheme2: #63CFD4
$colorTheme3: #0C6F73
$colorTheme4: #F21E52

$colorGrayMid: #9c9c9c