div#content class="container-fluid"
  
  - flash.each do |key, msg|
    = content_tag :div, msg, class: "alert alert-#{{ notice: "warning", success: "success", error: "danger"}[key.to_sym]}"

  = yield